.chat {
    background: #fff;
    height: 100vh;
    .user-list {
        border-right: 1px solid #eee;
        height: 100vh;
        overflow-y: auto;
        background: #f8f9fa;
        &-search{
            position: sticky;
            z-index: 10;
            top: 0;
            background: #fff;
            display: flex;
            align-items: center;
            height: 60px;
            border-bottom: 1px solid #eee;
        }
        &-box{
            padding: 10px;
            .friends {
                height: 55px;
                border-radius: 4px;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                cursor: pointer;
            }
            .friends:hover{
                border-color: #655cfe;
            }
            .active{
                background: #655cfe;
                color: #fff;
            }
        }
    }
    &-content{
        height: 100vh;
        border-right: 1px solid #eee;
        .user-title{
            display: flex;
            align-items: center;
            height: 60px;
            border-bottom: 1px solid #eee;
            padding-left: 10px;
        }
    }
}