.logo {
    display: flex;
    align-items: center;
    padding-left: 24px;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
    white-space: nowrap;
  
    img {
      height: 32px;
      margin-right: 8px;
    }
  
    .title {
      color: white;
      margin-bottom: 0;
    }
  }